__pycache__/
others/
config.json
frame.txt

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Cache
.cache/
.pytest_cache/

# IDEs / Editors
.vscode/
.idea/

# Local settings
*.env

# Virtual environments
venv/
.venv/